@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:root {
  --primary-color: #007cfb;
  --white: #fff;
  --secondary-color: #82cc09;

  --tg-primary-color: #007cfb;
  --tg-body-font-color: #7b7d83;
  --tg-heading-font-color: #1239ac;
  --tg-paragraph-color: #7b7d83;
  --tg-body-font-size: 16px;
  --tg-body-font-weight: 400;
  --tg-heading-font-weight: 700;
  --tg-body-line-height: 1.87;
  --tg-heading-line-height: 1.2;
  --tg-section-background: #f3f9ff;
  --tg-section-background-two: #ecf3fb;
  --tg-blue: #1239ac;
  --tg-blue-two: #eaf4ff;
  --tg-blue-three: #06184c;
  --tg-blue-four: #091e5a;
  --tg-blue-five: #001857;
  --tg-lavender-blue: #d0dbf8;
  --tg-indigo: #6610f2;
  --tg-purple: #6f42c1;
  --tg-pink: #d63384;
  --tg-red: #dc3545;
  --tg-orange: #fd7e14;
  --tg-yellow: #ffc107;
  --tg-green: #b1ff33;
  --tg-teal: #b1ff33;
  --tg-cyan: #0dcaf0;
  --tg-white: #fff;
  --tg-black: #1d212e;
  --tg-black-two: #3e3e3e;
  --tg-alice-blue: #f4faff;
  --tg-alice-blue-two: #f2f6ff;
  --tg-alice-blue-three: #f4f7ff;
  --tg-gray: #d9d9d9;
  --tg-gray-two: #868686;
  --tg-gray-three: #aeaeae;
  --tg-gray-four: #5a5a5a;
  --tg-gray-five: #edf6ff;
  --tg-gray-six: #f7f8fd;
  --tg-gray-seven: #d8d8d8;
  --facebook: #1877f2;
  --twitter: #1da1f2;
  --linkedin: #0077b5;
  --instagram: #e1306c;
  --youtube: #c4302b;
  --skype: #00aff0;
}


.globalWidth {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}